<div class="container-fluid" id="header" style="background:#05275e"><br></div>  
<div class="container" >
    <div class="col-md-offset-1 texthead">
        <h3>Are you talented and passionate?</h3>
        <p class="Textdes">
            We’re looking for folks like you to join our like-minded, mobile community. We put as much effort into our individual growth as we do into collaborating to build great work for our clients. When you join our team, you’ll have access to the tools and support you need to face new, exciting challenges and succeed. Endless coffee and six methods to brew it (and counting) are just some of those tools, and there’s also plenty of tea if you prefer. Come join the fun as we continue to grow together.
        </p>
        <br />
        <p class="Textdes" style="padding-bottom: 60px">
                If you think you are a suitable candidate, then please send your resume at <a href="mailto:uvsoftsolutions@gmail.com">uvsoftsolutions@gmail.com</a>
        </p>
        <div class="contacttext" style="text-align: center">
                if you need further assistance please feel free contact me<br>
            Mobile: +923456866917<br>
            Skype:  waqasmunawer007

        </div>
    </div>
    
</div>