<div class="container-fluid" id="header" style="background:#4B5CAA"><br></div> 
<div class="container text-center" style="padding-top: 100px;">
    <div class="row alignment">
        <div class="col-md-4">
                <p><img src="assets/images/idea.JPG" style="height: 80px" class="img-responsive center-block" alt=""></p>
                <div class="imghead">Idea Validation</div>
                <div class="imgdata">The first step is to hand-pick only the<br/> best projects, and that is done<br /> through a rigorous vetting process,<br /> polishing and streamlining the idea<br /> along the way.</div>
        </div>
         <div class="col-md-4">
                <p><img src="assets/images/strategy.JPG" style="height: 80px" class="img-responsive center-block" alt=""></p>
                <div class="imghead">Product Strategy</div>
                <div class="imgdata">
                        Our human-centered product <br/>
                        process underpins everything we do,<br/>
                        we prioritize the people whose lives<br/>
                        the technology will eventually <br/>
                        touch and how it will affect them
                </div>
        </div>
        <div class="col-md-4">
                <p><img src="assets/images/design.JPG" style="height: 80px" class="img-responsive center-block" alt=""></p>
                <div class="imghead">Design</div>
                <div class="imgdata">
                        Our team works with you to capture <br/>
                        and express your brand values, to <br/>
                        clarify them into that story, and <br/>
                        deliver it as a unique, engrossing<br/>
                         design.
                </div>
        </div>
        </div>

        <div class="row alignment">
                <div class="col-md-4">
                        <p><img src="assets/images/develop.JPG" style="height: 80px" class="img-responsive center-block" alt=""></p>
                        <div class="imghead">Developement</div>
                        <div class="imgdata">
                                We hire agile thinkers who put <br />
                                architectural integrity at the core of <br />
                                their engineering work. We build for <br />
                                efficiency, scale, performance, and <br />
                                impact
                        </div>
                </div>
                 <div class="col-md-4">
                        <p><img src="assets/images/launch.JPG" style="height: 80px" class="img-responsive center-block" alt=""></p>
                        <div class="imghead">Launch</div>
                        <div class="imgdata">
                                Thousands of apps launch everyday,<br />
                                 your’s needs to stand out. Our <br />
                                 experts will assess marketing goals<br /> 
                                 and opportunities for your app and <br />
                                 do just that
                        </div>
                </div>
                <div class="col-md-4">
                        <p><img src="assets/images/monetization.JPG" style="height: 80px" class="img-responsive center-block" alt=""></p>
                        <div class="imghead">Monetization</div>
                        <div class="imgdata">
                                With the help of our in-house <br />
                                monetization expertise you can <br />
                                monetize your app without the risk <br />
                                of losing your credibility & trust of<br />
                                userbase.
                        </div>
                </div>
                </div>
    </div>