#header{
    background-size:100%;
    width:100%;
    padding-bottom:36.5%;
    overflow:hidden;
    margin-top:-20px;
  }
#linkalign{
    text-decoration: none;
    text-align:center;
    box-shadow: 0px 5px 5px #F2F2F2;
    padding-top: 20px;
}
#linkalign li{
    display:inline-block;
    padding:10px;
}
#linkalign li a{
    color:  #777777;
    letter-spacing: 2px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold
}
.caption {
position: absolute;
top: 65%;
left: 10%;
width: 100%;
color: white;
}
#linkalign li a:hover{
text-decoration: none;
color: #21CAE8;
}
.textadjust{
color: #21CAE8;
font-size: 40px;
font-weight: lighter;
font-family: 'Segoe UI', Tahoma,'Calibri Light', Verdana, sans-serif;
padding-top: 50px;
letter-spacing: 2px;
}
.righttext{
font-size: 18px;
font-weight: normal;
word-spacing: 3px;
}
.meetteam{
color: #21CAE8;
font-size: 40px;
font-weight: lighter;
font-family: 'Segoe UI', Tahoma,'Calibri Light', Verdana, sans-serif;
padding:50px 0px 10px 0px;
letter-spacing: 2px;
text-align: center;
}
.imghead{
    font-family: Calibri;
    color: black;
    font-size: 22px
}
.imgdata{
    color: #9E9EA0;
    font-family: Calibri;
    font-size: 18px;
    line-height:170%
}
.alignment{
    padding-bottom: 80px
}
