<div class="container-fluid" id="header" style="background:#4B5CAA"><br>
</div>  
<div class="container" >
    <div class="col-lg-12 col-xs-12" id="linkalign">
        <ul>
            <li><a href="#">All</a></li>
            <li><a href="#">Mobile App</a></li>
            <li><a href="#">Web App</a></li>
        </ul>
    </div>
</div>
<div class="container">
<div class="row">
    <div class=" headimag">
        <div class="col-md-4">
        <img src="assets/images/Head.JPG" class="img-responsive center-block" >
        </div>
        <div class="col-md-8">
            <div class="col-md-6">
                <img src="assets/images/Shaukat.jpg" style="height:250px" class="img-responsive" >
            </div>
            <div class="col-md-6">
                    <img src="assets/images/Shaukat.jpg" style="height:250px" class="img-responsive" >
                </div>
            
                <div class="col-md-6">
                        <img src="assets/images/Shaukat.jpg" style="height:250px; padding-top: 50px;" class="img-responsive" >
                    </div>
                    <div class="col-md-6">
                            <img src="assets/images/Shaukat.jpg" style="height:250px;padding-top: 30px;" class="img-responsive" >
                        </div>
        </div>
    </div>
</div>
</div>

   